[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-wtf = "*"
flask-gravatar = "*"
flask-bootstrap = "*"
flask-ckeditor = "*"
flask-sqlalchemy = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.11"
